body{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    text-decoration:none;
   
}


p{
    
    font-size: 1em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-size: 1.5em;
}

nav{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    
}

.hero{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh;
     
}

.hero_image{
    overflow: hidden;
    max-width: 100%;
}
.hero_text{
    margin-right: 2.5em;
    justify-self: center;
    align-self: center;   
    
}