body{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10px;
    font-size: 16px;
    text-decoration:none;
   
}

p{
    
    font-size: 1em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-size: 1.5em;
}
.whitespace{
    background-color: blue;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1fr;
    
}
